<!DOCTYPE html>
<html>
<head>
	<script src="angular.min.js"></script>
	<script src="app.js"></script>
	<title>Charles@Coursera</title>
</head>
<body ng-app="MessageApp">
	<h1>Expressions and Interpolation</h1>
	<div ng-controller="MessageController">
		
		<input type="text" 
		ng-model="country_name"
		ng-blur="to_upper_case();">

		<br><br>
		{{message}}, {{newMessage()}}
		<br><br>

		<div>
			<button ng-click="getToWork()">Get Serious</button>
			<br><br>
			<img ng-src="img/charles_{{stateOfBeing}}.jpg" width="120px" height="auto">
		</div>
		
	</div>
</body>
</html>