<!DOCTYPE html>
<html>
<head>
	<script src="../angular.min.js"></script>
	<script src="app.js"></script>
	<title>Ocl@Module_III</title>
</head>
<body ng-app="NarrowItDownApp">
	<h1>Restuarant Menu</h1>
	<div ng-controller="NarrowItDownController  as narrowDown">
		<h3>Search For A Menu Item:</h3>

		<input type="text" placeholder="Enter food description" ="" ng-model="description">
		<button ng-click="narrowDown.findInMenu(description);">Narrow It Down For Me</button>
		
		<ul>
			<li ng-repeat="item in narrowDown.list">{{ item.name }}, {{ item.short_name }}, {{ item.description }} 

			<button ng-click="narrowDown.dontWantThis($index)">Don't want this one!</button>
			</li>		
			<span ng-if="!narrowDown.list.length" ng-model="narrowDown.noResult">
				{{narrowDown.noResult}}
			</span>
		</ul>

	</div>

</body>
</html>